VITE_TOKEN_ADDRESS=0xB4b628464F499118340A8Ddf805EF9E18B624310
VITE_STAKING_ADDRESS=0xYOUR_STAKING_CONTRACT
# chain '0x89' (Polygon mainnet) or '0x13881' (Mumbai)
VITE_CHAIN_ID=0x13881
# optional RPC for read-only (if desired)
VITE_READ_RPC=https://rpc-mumbai.maticvigil.com/
